.register-container {
    min-height: 55rem;
    height: 80vh;
}
.create-an-account {
    text-align: center;
    padding-top: 15rem;
    font-size: 2rem;
}

.register-form {
    padding-top: 2rem;
    align-items: center;
}

.register-form p {
    color: red;
    font-size: 1.2rem;
}

.register-form,
.firstName-container,
.lastName-container,
.email-container,
.password-container,
.reEnter-container {
    display: flex;
    flex-direction: column;
}

.firstName-container,
.lastName-container,
.email-container,
.password-container,
.reEnter-container {
    padding-bottom: 2rem;
}

.firstName-label,
.lastName-label,
.email-label,
.password-label,
.reEnter-label {
    font-size: 1.6rem;
}

@media screen and (min-width: 1000px) {
    .firstName-input,
    .lastName-input,
    .email-input,
    .password-input,
    .reEnter-input {
        width: 25rem;
    }
    .firstName-container,
    .lastName-container,
    .email-container,
    .password-container,
    .reEnter-container {
        width: fit-content;
    }
}