.checkout-container-complete {
  min-height: 55rem;
  height: 80vh;
  display: flex;
  justify-content: center;
}
.checkout-page-container {
  padding: 3.5rem 1rem;
  width: fit-content;
}
.checkout-totalPrice {
  border-top: 1px solid black;
  width: fit-content;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.checkout-buy-now-div {
  width: fit-content;
}
.checkout-totalPrice,
.checkout-buy-now-div {
  margin-left: auto;
}
.checkout-totalPrice-div,
.checkout-buy-now-div {
  padding-right: 1rem;
}
.checkout-totalPrice-div {
  margin-top: 1rem;
}
.checkout-address-p {
  padding-bottom: 0.5rem;
}
.checkout-address {
  padding-bottom: 1.5rem;
}

.form-container {
  width: fit-content;
  padding: 2rem 0;
}
.checkout-container .checkout-input {
  margin-bottom: 1rem;
}
.form-fieldset {
  padding: 1rem;
  background-color: #fff;
}
.checkout-label {
  padding-right: 0.5rem;
}
.checkout-input {
  background-color: #e4e2de;
}