.books-genres-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3rem;
  grid-row-gap: 0.5rem;
  margin-bottom: 5rem;
  padding-top: 2rem;
}

.books-genres-container .books-genre-name {
  font-family: 'Space_Grotesk';
  font-weight: 500;
  font-size: 1.5rem;
  color: #263238;
}

.books-genres-container .books-genre-name:nth-child(odd) {
  text-align: right;
}

@media only screen and (min-width: 550px) {
  .books-genres-container {
    line-height: 0.1;
    margin: 0 2rem 6rem 2rem;
    padding-top: 3rem;
    padding-left: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
  }

  .books-genres-container .books-genre-name {
    font-size: 1.6rem;
  }
}
