@media only screen and (max-width: 649px) {
  .updateBook-container {
    margin: auto;
  }
}

.updateBook-container {
  width: 32rem;
  padding: 1rem;
  padding: 1rem 0;
  line-height: 1.4;
  color: #454545;
}

.updateBook-details-form input,
.updateBook-details-form textarea {
  background-color: #f2f0ec;
  width: 18.5rem;
}

.updateBook-container .updateBook-btns-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.updateBook-img-form,
.updateBook-details-form {
  padding: 1.5rem 1rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #fff;
  border: 1px solid rgb(233, 231, 231);
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.updateBook-img-form {
  border-bottom: 1px solid rgb(197, 195, 195);
}

.updateBook-details-form div {
  display: grid;
  grid-template-columns: 37% 1fr;
}

.updateBook-legend {
  width: 25rem;
  margin: auto;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.6rem;
  letter-spacing: 0.8px;
  font-weight: bold;
  color: #f6f5f3;
  color: #7e4e1f;
  padding: 4px 0;
}}

@media only screen and (min-width: 768px) {
  .updateBook-container {
    margin-left: 3rem;
  }
}

@media only screen and (min-width: 1080px) {
  .updateBook-container {
    margin-left: 4rem;
  }
}
