/*HEADER*/
header {
  /*border-bottom: 1px solid black;*/
  position: sticky;
  top: 0;
}

.header-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 6rem;
  height: 10vh;
}

.active {
  font-weight: bold;
  color: #0a0e10;
}

.shop-logo {
  font-weight: 400;
  font-family: 'Great_Vibes';
  letter-spacing: 1px;
  font-size: 2.2rem;
  color: #263238;
  text-shadow: #90a4ae 1px 0 10px;
}

.logos {
  font-weight: 400;
}

.logo-ul {
  padding-left: 2rem;
}

.menu {
  margin-right: 2.5rem;
}

.links-ul {
  gap: 0.5rem;
  padding-right: 2.5rem;
  flex-direction: column;
  position: absolute;
  top: 6rem;
  right: 0;

  background-color: rgba(0, 0, 0, 0.089);
  width: 100%;
  align-items: end;
  z-index: 1;
  height: 100vh;
}

.desktop-links {
  display: none;
}

.links-ul,
.logo-ul {
  font-size: 1.2rem;
}

.navlink {
  color: black;
  text-decoration: none;
  font-size: 1.6rem;
}

.search-btn {
  border: none;
  background-color: #e4e2de;
}

/*FOOTER*/
footer {
  /*border-top: 1px solid black;*/
  width: 100%;
}

.footer-content {
  min-height: 5rem;
  height: 10vh;
}

.footer-about-github,
.footer-book-store {
  display: flex;
  justify-content: center;
  height: 3rem;
}

.footer-text {
  font-family: 'Great_Vibes';
  letter-spacing: 1px;
  font-size: 1.6rem;
  line-height: 0.9;
  color: #263238;
  text-shadow: #90a4ae 1px 0 10px;
  margin-left: 0.5rem;
}

.footer-about-github {
  gap: 1rem;
}

.footer-item {
  display: flex;
  align-items: center;
}

.icon {
  color: black;
}

.icon,
.footer-item > .navlink {
  font-size: 1.6rem;
}

/*600*/
@media screen and (min-width: 600px) {
  .search-input {
    width: 30rem;
  }
}

/*1000*/
@media screen and (min-width: 1000px) {
  .desktop-links {
    font-size: 1.2rem;
    gap: 5rem;
    padding-right: 2.5rem;
    flex-direction: row;
    display: flex;
  }
  .menu,
  .links-ul,
  .app-nav-modal {
    display: none;
  }

  .shop-logo {
    font-size: 2.7rem;
    padding-left: 2.5rem;
  }
  .search-input {
    width: 25rem;
  }
}

/*1400*/
@media screen and (min-width: 1400px) {
  .search-input {
    width: 40rem;
  }
}